{% extends 'common/base.html' %}

{% load static %}

{% block style %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<title>RSUI | SIPANCO</title>
{% endblock style %}

{% block content %}
<div class="z-30">
    <div class="container mx-auto mt-32">
        <a class="text-red-500 hover:text-red-500 text-lg" href="/rumah-sakit" style="text-decoration: none;">&#60;
            Kembali</a>
        <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center md:items-start justify-between mt-8">
            <div class="flex flex-col items-center md:items-start">
                <h1 class="mb-2 text-3xl sm:text-4xl">Detail Rumah Sakit</h1>
                <div class="w-5/6 bg-red-500 px-3 h-1 rounded-xl" />
            </div>
        </div>
    </div>
    <div>
        <div class="container mx-auto mt-12">
            <div class="flex flex-col lg:flex-row items-start space-x-0 lg:space-x-12 space-y-12 lg:space-y-0">
                {% if mod_number == 0 %}
                <img src="{% static 'img/hospital-0.jpeg' %}" alt="gambar detail rumah sakit" id="image"
                    class="rounded-xl" />
                {% elif mod_number == 1 %}
                <img src="{% static 'img/hospital-1.jpeg' %}" alt="gambar detail rumah sakit" id="image"
                    class="rounded-xl" />
                {% elif mod_number == 2 %}
                <img src="{% static 'img/hospital-2.jpeg' %}" alt="gambar detail rumah sakit" id="image"
                    class="rounded-xl" />
                {% elif mod_number == 3 %}
                <img src="{% static 'img/hospital-3.jpeg' %}" alt="gambar detail rumah sakit" id="image"
                    class="rounded-xl" />
                {% elif mod_number == 4 %}
                <img src="{% static 'img/hospital-4.jpeg' %}" alt="gambar detail rumah sakit" id="image"
                    class="rounded-xl" />
                {% endif %}
                <div class="flex flex-col h-auto space-y-4 lg:pr-12 xl:pr-40 2xl:pr-64">
                    <p class="text-4xl font-bold text-red-500">{{detail_data.nama}}</p>
                    <p class="text-2xl font-bold">{{detail_data.alamat}}</p>
                    <p class="text-lg font-semibold text-gray-400">{{detail_data.kecamatan}}, {{detail_data.kota}},
                        {{detail_data.provinsi}}
                        {{detail_data.kodepos}}</p>
                    {% if detail_data.ruangan_set.all %}
                    {% for referer in detail_data.ruangan_set.all %}
                    <p>Kode Ruangan : {{referer.kode}}, Kapasitas : {{ referer.kapasitasTergunakan }} /
                        {{referer.kapasitas }}</p>
                    {% endfor %}
                    {% else %}
                    <p>Belum terdapat ruangan yang terdaftar</p>
                    {% endif %}

                    {% if detail_data.jadwalvaksin_set.all %}
                    {% for data_vaksin in detail_data.jadwalvaksin_set.all %}
                    <p>Stok Vaksin : {{data_vaksin.kuota}}</p>
                    {% endfor %}
                    <div
                        class="pt-7 font-semibold text-white flex flex-col flex-wrap space-y-6 xl:space-y-0 xl:flex-row space-x-0 xl:space-x-6">
                        <div class="px-14 py-2 lg:py-3 rounded-xl w-full flex-shrink"></div>
                        {% if user.is_authenticated and user.pasien %}
                        <a class="px-12 py-2 lg:py-3 text-base rounded-xl bg-red-500 hover:text-white
                            hover:no-underline hover:shadow-lg text-center cursor-pointer">
                            Daftar Vaksin
                        </a>
                        {% elif not user.is_authenticated %}
                        <a href="/login" class="px-12 py-2 lg:py-3 text-base rounded-xl bg-red-500 hover:text-white
                            hover:no-underline hover:shadow-lg text-center cursor-pointer">
                            Daftar Vaksin
                        </a>
                        {% else %}
                        <button disabled class="px-12 py-2 lg:py-3 text-base rounded-xl bg-gray-300 hover:text-white
                            hover:no-underline hover:shadow-lg text-center cursor-pointer">
                            Daftar Vaksin
                        </button>
                        <p class="text-black font-normal text-xs pt-3">Admin dan Petugas tidak dapat daftar vaksin,
                            gunakan akun pasien</p>
                        {% endif %}
                    </div>
                    {% else %}
                    <p>Belum terdapat kuota vaksin yang terdaftar</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-24">
        <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center md:items-start justify-between mt-8">
            <div class="flex flex-col items-center md:items-start">
                <div class="flex flex-row items-center justify-center">
                    <h1 class="mb-2 text-3xl sm:text-4xl">
                        Jadwal Dokter
                    </h1>
                </div>

                <div class="w-5/6 bg-red-500 px-3 h-1 rounded-xl" />
            </div>
        </div>
    </div>
    <div
        class="flex flex-wrap flex-col sm:flex-row items-center justify-center lg:justify-start gap-10 md:gap-16 my-12 container mx-auto">
        {% if detail_data.jadwaldokter_set.all %}
        {% for data_jadwal in detail_data.jadwaldokter_set.all %}
        <div class="flex-initial w-5/6 sm:w-1/3 lg:w-1/5 xl:w-1/5 relative cursor-pointer">
            <div class="bg-white rounded-2xl overflow-hidden shadow-md">
                <div class="m-4">
                    <h1 class="font-bold text-red-500 text-3xl truncate">
                        {{data_jadwal.nama}}
                    </h1>
                    <h1 class="block text-gray-500 text-xl pt-3 font-bold">
                        {{data_jadwal.spesialis}}
                    </h1>
                    <h1 class="block text-gray-500 text-sm pt-2">
                        {{data_jadwal.jadwal|date:"D d M Y f A"}}
                    </h1>
                    <div class="pt-4">
                        {% if user.is_authenticated and user.pasien %}
                        <a href="{% url 'app:rumah_sakit:create_appointment' jadwaldokter_id=data_jadwal.id %}" class="px-3 xl:px-6 py-2 lg:py-3 text-xs xl:text-base rounded-xl bg-red-500 hover:text-white
                                hover:no-underline hover:shadow-lg text-center cursor-pointer text-white">
                            Buat Appointment
                        </a>
                        {% elif not user.is_authenticated %}
                        <a href="/login" class="px-3 xl:px-6 py-2 lg:py-3 text-xs xl:text-base rounded-xl bg-red-500 hover:text-white
                                hover:no-underline hover:shadow-lg text-center cursor-pointer text-white">
                            Buat Appointment
                        </a>
                        {% else %}
                        <button disable class="px-3 xl:px-6 py-2 lg:py-3 text-xs xl:text-base rounded-xl bg-gray-300 hover:text-white
                                hover:no-underline hover:shadow-lg text-center cursor-pointer text-white"
                            style="outline: none;">
                            Buat Appointment
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Belum terdapat jadwal dokter yang terdaftar</p>
        {% endif %}

    </div>
</div>
{% endblock content %}