{% extends "common/base.html" %}
{% block content %}
<title>Tambah Jadwal Vaksin</title>
</head>
<body>
<form>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="inputDate" class="form-label">Tanggal</label>
                        <input type="date" class="form-control" id="inputDate">
                    </div>
                    <div class="mb-3">
                        <label for="inputTime" class="form-label">Waktu</label>
                        <input type="time" class="form-control" id="inputTime">
                    </div>
                    <div class="mb-3">
                        <label for="inputKuota" class="form-label">Kuota</label>
                        <input type="number" class="form-control" id="inputKuota" placeholder="Masukkan Jumlah Kuota">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
