{% extends 'common/base.html' %}

{% load static %}

{% block style %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<title>RSUI | SIPANCO</title>
{% endblock style %}

{% block content %}
<div class="z-30">
    <div class="container mx-auto mt-32">
        <a class="text-red-500 hover:text-red-500 text-lg" href="/rumah-sakit">&#60; Kembali</a>
        <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center md:items-start justify-between mt-8">
            <div class="flex flex-col items-center md:items-start">
                <h1 class="mb-2 text-3xl sm:text-4xl">Detail Rumah Sakit</h1>
                <div class="w-5/6 bg-red-500 px-3 h-1 rounded-xl" />
            </div>
        </div>
    </div>
    <div>
        <div class="container mx-auto mt-12">
            <div class="flex flex-col lg:flex-row items-start space-x-0 lg:space-x-12 space-y-12 lg:space-y-0">
                <img src="{% static 'img/rsui.jpeg' %}" alt="gambar makanan" id="image" class="rounded-xl" />
                <div class="flex flex-col h-auto space-y-4 lg:pr-12 xl:pr-40 2xl:pr-64">
                    <input readOnly hidden id="idSeller" type="text" value={product.ownerAccount.id} />
                    <input readOnly hidden id="sellerName" type="text" value={toTitleCase(product.ownerAccount.name)} />
                    <p class="text-4xl font-bold text-red-500"></p>
                    <p class="text-2xl font-bold">Rumah Sakit UI</p>
                    <p class="text-lg font-semibold text-gray-400">Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat
                        16424</p>
                    <p>Stok Kamar : 500</p>
                    <p>Stok Vaksin : 200</p>
                    <!-- <div class="pt-2 flex flex-col lg:flex-row space-x-0 lg:space-x-6 space-y-6 lg:space-y-0">
                        <a href="editproduct.html"
                            class="px-6 py-2 lg:py-3 text-lg rounded-xl border-2 border-red-500 text-red-500 hover:text-red-500 hover:no-underline hover:shadow-lg text-center">
                            Edit Produk
                        </a>
                        <button onClick={deleteHandler}
                            class="px-6 py-2 lg:py-3 text-lg rounded-xl border-2 border-red-400 text-red-400 hover:text-red-400 hover:no-underline hover:shadow-lg text-center">
                            Hapus Produk
                        </button>
                    </div>
                    ) : ( -->
                    <div
                        class="pt-7 font-semibold text-white flex flex-col flex-wrap space-y-6 xl:space-y-0 xl:flex-row space-x-0 xl:space-x-6">
                        <!-- <div class="flex flex-col text-black lg:pl-6">
                            <label htmlFor="quantity">Quantity: </label>
                            <input type="number" id="quantity" name="quantity" min="1" max="9" defaultValue="1" />
                        </div> -->
                        <div class="px-14 py-2 lg:py-3 rounded-xl w-full flex-shrink"></div>
                        <!-- {product.stock > 0 ? ( -->
                        <a class="px-12 py-2 lg:py-3 text-base rounded-xl bg-red-500 hover:text-white
                            hover:no-underline hover:shadow-lg text-center cursor-pointer">
                            Daftar Vaksin
                        </a>
                        <!-- ) : (
                        <a href="#"
                            class="px-14 py-2 lg:py-3 text-base rounded-xl bg-gray-400 hover:text-white hover:no-underline hover:shadow-lg text-center">
                            Stok Kosong
                        </a>
                        )} -->

                        <!-- <a class="px-6 py-2 lg:py-3 text-base rounded-xl border-2 border-red-500
                            text-red-500 hover:text-red-500 hover:no-underline hover:shadow-lg text-center
                            cursor-pointer">
                            Daftar Vaksin
                        </a> -->
                        <!-- <a id="removebtn"
                            class="px-6 py-2 lg:py-3 text-base rounded-xl border-2 border-red-500 text-red-500 hover:text-red-500 hover:no-underline hover:shadow-lg text-center cursor-pointer">
                            Keluarkan dari Keranjang
                        </a>
                        <a class="px-6 py-2 lg:py-3 text-lg rounded-xl
                            border-2 border-red-500 text-red-500 hover:text-red-500 hover:no-underline
                            hover:shadow-lg text-center">
                            Chat Penjual
                        </a> -->
                    </div>
                    <!-- )} -->
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-24">
        <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center md:items-start justify-between mt-8">
            <div class="flex flex-col items-center md:items-start">
                <div class="flex flex-row items-center justify-center">
                    <h1 class="mb-2 text-3xl sm:text-4xl">
                        Jadwal Dokter
                    </h1>
                    <!-- {userRole === "buyer" && (
                    <a href="addreview.html"
                        class="text-gray-500 text-base pl-7 items-center hover:text-red-500">
                        buat review
                    </a>
                    )} -->
                </div>

                <div class="w-5/6 bg-red-500 px-3 h-1 rounded-xl" />
            </div>
        </div>
    </div>
    <div
        class="flex flex-wrap flex-col sm:flex-row items-center justify-center lg:justify-start gap-10 md:gap-16 my-12 container mx-auto">
        <!-- {review === "" ? (
        <p>Loading....</p>
        ) : review.length === 0 ? (
        <h1>Belum ada review untuk produk ini</h1>
        ) : (
        review.map((val, index) => ( -->
        <div class="flex-initial w-5/6 sm:w-1/3 lg:w-1/5 xl:w-1/5 relative cursor-pointer">
            <div class="bg-white rounded-2xl overflow-hidden shadow-md">
                <!-- {/* <img src={val.imageUrl==="https://google.com" ? "assets/nothing.svg" : val.imageUrl}
                    alt="gambar produk" class="w-full h-64 object-cover" /> */} -->
                <div class="m-4">
                    <h1 class="font-bold text-red-500 text-3xl truncate">
                        Dr. Astrid
                    </h1>
                    <h1 class="block text-gray-500 text-xl pt-3 font-bold">
                        Spesialis Bekasi
                    </h1>
                    <h1 class="block text-gray-500 text-sm pt-2">
                        12-Dec-2021 17:00-18:00
                    </h1>
                    <!-- <div class="absolute bottom-0 right-0 overflow-hidden rounded-br-lg">
                        <img src="/assets/product_decoration.svg" alt="" />
                    </div> -->
                    <div class="pt-4">
                        <a class="px-6 py-2 lg:py-3 mt-96 text-base rounded-xl bg-red-500 hover:text-white
                                hover:no-underline hover:shadow-lg text-center cursor-pointer text-white">
                            Buat Appointment
                        </a>
                        <!-- <a class="px-6 py-2 lg:py-3 text-base rounded-xl border-2 border-red-500
                            text-red-500 hover:text-red-500 hover:no-underline hover:shadow-lg text-center
                            cursor-pointer">
                            Buat Appointment
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-initial w-5/6 sm:w-1/3 lg:w-1/5 xl:w-1/5 relative cursor-pointer">
            <div class="bg-white rounded-2xl overflow-hidden shadow-md">
                <!-- {/* <img src={val.imageUrl==="https://google.com" ? "assets/nothing.svg" : val.imageUrl}
                    alt="gambar produk" class="w-full h-64 object-cover" /> */} -->
                <div class="m-4">
                    <h1 class="font-bold text-red-500 text-3xl truncate">
                        Dr. Astrid
                    </h1>
                    <h1 class="block text-gray-500 text-xl pt-3 font-bold">
                        Spesialis Bekasi
                    </h1>
                    <h1 class="block text-gray-500 text-sm pt-2">
                        12-Dec-2021 17:00-18:00
                    </h1>
                    <!-- <div class="absolute bottom-0 right-0 overflow-hidden rounded-br-lg">
                        <img src="/assets/product_decoration.svg" alt="" />
                    </div> -->
                    <div class="pt-4">
                        <a class="px-6 py-2 lg:py-3 mt-96 text-base rounded-xl bg-red-500 hover:text-white
                                hover:no-underline hover:shadow-lg text-center cursor-pointer text-white">
                            Buat Appointment
                        </a>
                        <!-- <a class="px-6 py-2 lg:py-3 text-base rounded-xl border-2 border-red-500
                            text-red-500 hover:text-red-500 hover:no-underline hover:shadow-lg text-center
                            cursor-pointer">
                            Buat Appointment
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-initial w-5/6 sm:w-1/3 lg:w-1/5 xl:w-1/5 relative cursor-pointer">
            <div class="bg-white rounded-2xl overflow-hidden shadow-md">
                <!-- {/* <img src={val.imageUrl==="https://google.com" ? "assets/nothing.svg" : val.imageUrl}
                    alt="gambar produk" class="w-full h-64 object-cover" /> */} -->
                <div class="m-4">
                    <h1 class="font-bold text-red-500 text-3xl truncate">
                        Dr. Astrid
                    </h1>
                    <h1 class="block text-gray-500 text-xl pt-3 font-bold">
                        Spesialis Bekasi
                    </h1>
                    <h1 class="block text-gray-500 text-sm pt-2">
                        12-Dec-2021 17:00-18:00
                    </h1>
                    <!-- <div class="absolute bottom-0 right-0 overflow-hidden rounded-br-lg">
                        <img src="/assets/product_decoration.svg" alt="" />
                    </div> -->
                    <div class="pt-4">
                        <a class="px-6 py-2 lg:py-3 mt-96 text-base rounded-xl bg-red-500 hover:text-white
                                hover:no-underline hover:shadow-lg text-center cursor-pointer text-white">
                            Buat Appointment
                        </a>
                        <!-- <a class="px-6 py-2 lg:py-3 text-base rounded-xl border-b-2 border-red-500
                            text-red-500 hover:text-red-500 hover:no-underline hover:shadow-lg text-center
                            cursor-pointer">
                            Buat Appointment
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ))
        )} -->
    </div>
</div>
{% endblock content %}