{% extends "common/base.html" %}  

{% load static %}

{% block style %}
<title>Daftar Ruangan | SIPANCO</title>
{% endblock style %}

{% block content %}  
    <br>
    <div class="container mx-auto mt-6">
      <h2>List Ruangan</h2>
  </div>
  <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nama Rumah Sakit</th>
            <th scope="col">Kode Ruangan</th>
            <th scope="col">Kapasitas Total</th>
            <th scope="col">Kapasitas Tersedia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>RSUI</td>
            <td>R.2404</td>
            <td>4</td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>RSUI</td>
            <td>R.2405</td>
            <td>4</td>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>RSU Fatmawati</td>
            <td>B12</td>
            <td>6</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <style>
        h2{
          text-align: center; 
        }
      </style>
{% endblock content %}