{% extends "common/base.html" %}  
{% block content %}  
<title>List Appoinment | SIPANCO</title>
    <br>
    <div class="container mx-auto mt-6">
      <h2 style="margin-top: 100px;">List Appointment Dokter</h2>
  </div>
  <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Dokter</th>
            <th scope="col">Spesialis</th>
            <th scope="col">Jadwal</th>
            <th scope="col">Keluhan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Dr. Mark</td>
            <td>Anak</td>
            <td>12-Dec-2021 17:00-18:00</td>
            <td>Sakit perut</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dr. Yusuf</td>
            <td>Mata</td>
            <td>12-Dec-2021 17:00-18:00</td>
            <td>Mata buram</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Drg. Anna</td>
            <td>Gigi</td>
            <td>12-Dec-2021 17:00-18:00</td>
            <td>Sakit gigi</td>
          </tr>
        </tbody>
      </table>
      <style>
        h2{
          text-align: center; 
        }
      </style>
{% endblock content %}