{% extends "common/base.html" %}

{% load static %}

{% block style %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Jadwal Vaksin | SIPANCO</title>
{% endblock style %}

{% block content %}
    <div class="container mx-auto mt-32" style="max-width: 768px;">
        <div class="flex flex-col items-center md:items-start mb-8">
            <h1 class="mb-2 text-3xl sm:text-4xl">Jadwal Vaksin</h1>
            <div class="w-1/6 bg-red-500 px-3 h-1 rounded-xl" />
        </div>
    </div>
    {% if list_vaksin %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Tanggal</th>
                <th scope="col">Waktu</th>
                <th scope="col">Kuota</th>
            </tr>
            </thead>
            <tbody>
            {% for vaksin in list_vaksin %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ vaksin.tanggal }}</td>
                    <td>{{ vaksin.waktu }}</td>
                    <td>{{ vaksin.kuota }}</td>
                    {% if request.user.is_authenticated and user.pasien %}
                    <td><a href="reservasi/create/{{ vaksin.id }}"><button type="submit" class="btn btn-outline-danger">Reservasi Jadwal</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 style="font-weight: 700; font-size: 2rem;">Belum ada adwal vaksin yang tersedia</h1>
    {% endif %}
{% endblock content %}